a{
	color: $linkColor;

	&:hover{
		text-decoration:none;
		color: $linkHoverColor;
	}
}

.siteTitle{
	text-align: center;
	margin-bottom: 20px;
	font-size: 5.6em;
	font-family: $vollkorn;
	font-weight: 700;
}

.orderControls{
	div{
		font-family: $orderBtnFont;
		font-weight: 700;
		font-variant: small-caps;
		border: 1px dotted $orderBtnBorder;
	}
	.active {
		background-color: $activeBtnBG;
		color: $activeBtnFont;
	}
}

.story{
	clear: left;
	padding: 10px 20px;
	margin-left: 50px;
	margin-right: 50px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px dashed grey;
	background-color: $storyBG;
	opacity: 0.6;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
		font-size: 1.2em;

	}

	.headline{
		font-family: $headlineFont;
		font-weight: 400;
	}

	.description{
		font: $descriptionFont;
		font-weight: 400;
	}

	.img-container{
		float: left;
		height: 200px;
		width: 200px;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 25px 10px -14px $boxShadow;
		margin-right: 20px;
		border-radius: 23px;
		text-align: center;
	}

	img{
		width: auto;
		padding: 0;
		margin: 0;
		height: 200px;
	}

	.author, .rating{
		float: right;
		clear: right;
		padding-right: 8px;
	}

	.author{
		font-variant : small-caps;

		span{
			font-size: 1.4em;
		}

		h3{
			display: inline-block;
		}
	}

	.date{
		font-family: $dateFont;
	}

	.rating{
		font-size: 1.6em;
		color: $rating;
		font-family: $ratingFont;
		font-weight: 400;
		background-color: $ratingBG;
		padding: 5px 10px;
		border-radius: 5px;
		cursor: default;
		i.fa{
			color: $fire;
			margin-right: 6px;
		}

		.votes{
			padding: 5px;
		}
	}

}//story